#titleheading {
  color: white;
  text-align: center;
  background-color: rgb(105, 8, 8);
  font-family: georgia, serif;
  padding: 50px;
  font-size: 50px;
}

p{
  text-align: center;
  font-family: georgia, serif;
  font-size: 20px;
}

.container-carousel {
  height: 300px;
}

.gite-photos {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #carouselGitephotos {
    width: 100%
  }

  form {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

button {
  margin-left: 40px;
  margin-bottom: 50px;
}

.mapouter {
  margin-left: 50px;
  margin-top: 40px;
}

.container-gite1p {
  max-width: 400px;
  margin-left: 800px;
}

#heading1 {
  color: rgb(105, 8, 8);
  font-family: georgia, serif;
  padding: 50px;
  font-size: 50px;
  background-color: white;
  text-align: center;
}

#gite1t {
  margin-left: 50px;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


#headingtwo {
  color: rgb(0, 0, 0);
  font-family: georgia, serif;
  padding: 50px;
  font-size: 20px;
  background-color: white;
  text-align: center;
}

.calender
{
  text-align:center;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}
.right {
  text-align: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}
