#titleheading {
  color: white;
  text-align: center;
  background-color: rgb(105, 8, 8);
  font-family: georgia, serif;
  padding: 50px;
  font-size: 50px;
}

p{
  text-align: center;
  font-family: georgia, serif;
  font-size: 20px;
  color: rgb(105, 8, 8);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


.gite-photos {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 70%;
  }

  #carouselGitephotos {
    width: 100%
  }

  form {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

button {
  margin-left: 40px;
  margin-bottom: 50px;
}

.mapouter {
  text-align: center;
  display: inline-block;
}

.container-gite1p {
  max-width: 400px;
  margin-left: 800px;
}

#heading1 {
  color: rgb(105, 8, 8);
  font-family: georgia, serif;
  padding: 50px;
  font-size: 50px;
  background-color: white;
  text-align: center;
}

#gite1t {
  margin-left: 50px;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


#headingtwo {
  color: rgb(0, 0, 0);
  font-family: georgia, serif;
  padding: 50px;
  font-size: 20px;
  background-color: white;
  text-align: center;
}

.calender
{
  text-align:center;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}
.right {
  text-align: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 0%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 0%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 0%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 0%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 0%; height: 18px; background-color: #f44336;}

.calender-container{
  width: 100%;
}

.calender1{
  display: inline-block;
  margin-left: 40%;
}

.calender2{
  display: inline-block;
  margin-left: 40%;
}

h2{

  text-align: center;
  color: rgb(105, 8, 8);
  font-family: georgia, serif;
  margin-top: 40px;
}

h3{
  text-align: center;
  color: rgb(105, 8, 8);
  font-family: georgia, serif;
  margin-top: 40px;
}

.wine{
  margin-left: 50px;
}
.aboutpic{
text-align: center;
}

.todo{
  text-align: center;
}

.text1{
  color: rgb(105, 8, 8);
  font-family: georgia, serif;
  text-align: center;
}

.text2{
  color: rgb(105, 8, 8);
  font-family: georgia, serif;
  text-align: center;
}
.text3{
  color: rgb(105, 8, 8);
  font-family: georgia, serif;
  text-align: center;
}
.text4{
  color: rgb(105, 8, 8);
  font-family: georgia, serif;
  text-align: center;
}
.text5{
  color: rgb(105, 8, 8);
  font-family: georgia, serif;
  text-align: center;
}

.map{
  text-align: center;
}

.image_container {
  height: 100%;
 margin: 0;
 padding: 1em;
 text-align: center;
}

iframe{
  text-align: center;
  width: 100%;
}

.review1 {
  width:70%;
  margin-left: 40px;
}
