#titleheading {
  color: white;
  text-align: center;
  background-color: rgb(105, 8, 8);
  font-family: georgia, serif;
  padding: 50px;
  font-size: 50px;
}

p{
  text-align: center;
  font-family: georgia, serif;
  font-size: 20px;
}

.container-carousel {
  height: 300px;
}

.gite-photos {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #carouselGitephotos {
    width: 100%
  }

  form {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

button {
  margin-left: 40px;
  margin-bottom: 50px;
}

.mapouter {
  margin-left: 50px;
  margin-top: 40px;
}

.container-gite1p {
  max-width: 400px;
  margin-left: 800px;
}

#heading1 {
  color: rgb(105, 8, 8);
  font-family: georgia, serif;
  padding: 50px;
  font-size: 50px;
  background-color: white;
  text-align: center;
}

#gite1t {
  margin-left: 50px;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


#headingtwo {
  color: rgb(105, 8, 8);
  font-family: georgia, serif;
  padding: 50px;
  font-size: 30px;
  background-color: white;
  text-align: center;
